* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    padding-left: 60px;
    background-color: darkolivegreen;
    color: aliceblue;
}


.container {
    width: 100%;
    min-height: 15vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 50%;
    height: 30px;
}

input {
    width: 50%;
    height: 90%;
}

#search-image {
    width: 20%;
    height: auto;
}

div, h2 {
    padding: 30px;
}

h2 {
    background-color: darkolivegreen;
    color: aliceblue;
}
